body {
    margin: 0;
    margin: 100px auto;
    width: 960px;
}

body, input, select, button {
    color: #88808a;
    font: 18px/24px Verdana, sans-serif;
}

#temp {
    width:220px;
    padding:10px;
    border:5px solid gray;
    margin:0;
}
